{
  "extends": [
    "airbnb-base",
    "plugin:react/recommended",
    "plugin:import/recommended"
  ],
  "rules": {
    "class-methods-use-this": "off",
    "import/prefer-default-export": "off",
    "import/named": "off",
    "comma-dangle": "off",
    "indent": ["error", 4],
    "max-len": ["error", { "code": 120 }],
    "no-param-reassign":"off"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    }
  }
}
